.ratingStatus {
    color: transparent !important;
}

.ratingStatusShow {
    color: red !important;
}

.rateCard p {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 500;
}

.rateCard input {
    width: 100px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: none;
}


.rateCard button {
    border: none;
    background-color: #ffbb33;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.carouselAccount p {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 500;
}

.carouselAccount button {
    border: none;
    background-color: #ffbb33;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s;
}

.carouselAccount button:hover {
    color: rgba(0, 0, 0, 0.459);
    transition: .5s;
}


.carouselAccount {
    display: flex;
    justify-content: center ;
}

.ratingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ratingContainer p {
    width: 100%;
    text-align: center;
}