.divGenres {
    position: absolute;
    display: none;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-between;
    background-color: #ffbb33;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
    z-index: 1;
}

.divGenres a {
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    padding: 10px !important;
    width: 100px !important;
    color: black !important;
    border: none !important;
}

.divGenres a:hover {
    color: #fff !important;
    transition: 0.5s !important;
}

.divGenres.show {
    display: flex;
}

@media screen and (max-width: 900px) {
    .divGenres.show {
        display: none;
    }
}