.footer {
    background-color: #222;
    padding: 20px;
}


.iconsContainer {
    display: flex;
    justify-content: center;
}

.footer svg {
    color: #ffbb33;
    font-size: 1.8rem;
    margin: 0 10px;
    cursor: pointer;
}

.footer svg:hover {
    color: #fff;
}

.copyright {
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

.copyright span {
    color: #ffbb33;
}