.navbarContainer {
    background-color: #222;
    padding: 30px 0;
}

.navbar {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoContainer a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logoContainer svg {
    margin-right: 5px;
    color: #ffbb33;
}

.logoContainer p {
    border-bottom: 1px solid #ffbb33;
}

.linksContainer {
    display: flex;
}

.navList {
    display: flex;
    list-style-type: none;
    float: right;
    align-items: center;
    text-align: start;
}


.navList li {
    padding: 10px 20px;
    margin-left: 20px;
}

.navList li a {
    text-decoration: none;
    color: #ffbb33;
    font-weight: 500;
    border-bottom: 1px solid #ffbb33;
}

.navList li a:hover {
    transition: 0.5s;
    color: #fff;
    border-color: #fff;
}

.userCircleDesktop {
    border: none !important;
}

.userCircleDesktop svg {
    font-size: 1.8rem;
}

.userCircleMobileContainer {
    display: none;
    align-items: center;
}

.userCircleMobileContainer a {
    text-decoration: none;
    color: #ffbb33;
    font-weight: 500;
}

.navItem:hover .dropdownContent {
    display: flex;
}

.dropdownContent {
    position: absolute;
    display: none;
}



.menu {
    display: none;
}



@media screen and (max-width: 900px) {
    .navList {
        display: none;
        position: absolute;
        float: right;
        z-index: 1;
        right: 5%;
        background-color: #ffbb33;
        padding: 10px;
        border-radius: 3px;
    }

    .navList li {
        padding-left: 5px;
        margin-left: 0;
        border-radius: 4px;
    }


    .menu {
        border: none;
        cursor: pointer;
        background-color: #222;
    }

    .menu svg {
        background-color: #222;
        color: #ffbb33;
        width: 24px;
        height: 24px;
    }

    .navList li:hover {
        background-color: rgb(230, 230, 230);
    }

    .navList li a {
        color: #222;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 220px;
    }

    .menu {
        display: block;
    }

    .navList.navListActive {
        display: block;
    }

    .userCircleDesktop {
        display: none;
    }

    .userCircleMobileContainer {
        display: flex;
        margin-right: 10px;
    }

}
